.content {
  padding: 25px;

  &-wrapper {
    display: inline-block;
    width: calc(100% - 250px);
  }
}

.announcements {
  display: inline-block;
  vertical-align: top;
  width: 73%;

  @media (max-width: 1300px) {
    width: 100%;
  }
}

.calender {
  margin-inline-start: 1%;
  width: 26%;

  @media (max-width: 1300px) {
    width: 100%;
  }
}