.main-header {
  height: 50px;
  line-height: 48px;

  &::before,
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &__title {
    float: left;
    margin: 0;
    color: grey;
    font-size: 24px;
  }

  &__action-list {
    float: right;
  }

  &__search-input {
    margin-inline-end: 30px;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid #8080802e;
    padding: 5px;
    font-size: 12px;
  }

  &__icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;

    &+& {
      margin-inline-start: 20px;
    }
  }

  &__user-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    // [TODO] Delete background-color
    background-color: red;
    margin-inline-start: 20px;
    vertical-align: middle;
  }

  &__user-dropdown {
    display: none;
  }
}